@charset "UTF-8";

       @font-face {
           font-family: 'Idroid';
           src: url(/fontes/IDroid.otf) format('opentype');
       }
        body{
            background-color: #84E1AD;
        }
        header{
            background-image:linear-gradient( #39CC7A, #206F42);        
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            margin: 0px 5px -4px -5px;
            padding: 10px 10px 10px 10px;
            
            
        }
        nav{
             background-color: #1A5C38;
             text-align: left;
             padding: 5px;
             margin: 0px;
            
        }
        nav > a{
            text-decoration: none;
            font-weight: bold;
            font-size: normal;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            padding: 10px;
            margin: 10px;
        }

        nav > a:hover{
            text-decoration: underline;

        }
        #principal{
            font-family: 'idroid', times, serif;
            color: #145733;
            
        }
        h2{
            background-color: linear-gradient(90ed, #C6EAD6, white);
            font-family: 'idroid', times, serif;
            color: #4D8466;
              
        }
        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        main{
            background-color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 10px;
            margin: 1px -4px 4px 1px;
            
        }
        footer{
            background-color: teal;
            text-align: center;
            font-weight: bold;
            padding: 5px;
            margin: 5px 4px -4px -7px;
            color: white;
        }